body {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: small; /* You can use px here too! */
    color: grey;
}

ul, h1, h2, h3, p {
    margin-left: 25%;
    margin-right: 25%;
}

li.one {
    background-color: #ffff00;
}

li.two {
    background-color: #ffa467;  
}

h1, .repeat {
    border-bottom: aqua;
    border-left: blue;
    border-right: fuchsia;
    border-top: yellow;
    border-width: 5px;
    border-style: double;
}

.repeat {
    font-size: 36px;
    border-style: dashed;
}
